:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-size: 1.2em;
}

html {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: darkkhaki;
  padding: 5px 0;
  text-shadow: 1px 4px 15px rgba(3, 2, 1, 1);
  position: fixed;
  font-size: 20px;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 20%;
    height: auto;
}

footer {
  text-align: center;
  background-color: rgb(236, 229, 131);
  padding: 1rem;
  margin-top: 1rem;
  color: black;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background: rgb(181, 175, 88);
    animation: fadeIn 0.4s;
    padding: 137px 0 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 3;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    padding: 6em;
    grid-auto-rows: min-content;
    align-content: start;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background-color: var(--white);
    transition: 5s;
    animation: fadeIn 3s;
    cursor: pointer;
}

.grid-item:hover {
    box-shadow: 0 8px 16px 0 var(--green);
}

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.grid-container .btns {
    padding: 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-container .btns button {
    width: 100%;
}

button {
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: blueviolet;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 300px;
}

dialog {
    border-color: black;
    background-color: yellow;
    width: 50vw;
    height: 45vw;
    padding: 2em 1em;
}

dialog ul {
    margin: 1em 0 1em;
    padding-inline-start: 2em;
}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.dialog-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modalPopUp-img {
    width: 250px;
    height: auto;
}

.removeDot {
    list-style-type: none;
}








